<div class="container col-12 p3 mt-6 bg-dark text-white">
    <h3 class="justify-content-center justify-content-lg-start">Danh Sách Phòng Ban</h3>
</div>
<div class= "container-fluid pt-3 mt-5 bg-dark justify-content-center justify-content-lg-start">
    <div class= "row">
        <div class ="col-4 col-sm-3 col-md-3 mt-5 ">
            <img  src="https://upload.wikimedia.org/wikipedia/vi/1/1b/T%C4%90T_logo.png" alt="Khoa CNTT"  class="img-thumbnail" >
            <div class="d-flex p-1 text-white">PHÒNG CTHSSV</div>
        </div>
        <div class ="col-4 col-sm-3 col-md-3 mt-5">
            <img  src="https://upload.wikimedia.org/wikipedia/vi/1/1b/T%C4%90T_logo.png" alt="Khoa CNTT" class="img-thumbnail">
            <div class="d-flex p-1 text-white">PHÒNG ĐẠI HỌC</div>
        </div>
        <div class ="col-4 col-sm-3 col-md-3 mt-5 ">
            <img  src="https://upload.wikimedia.org/wikipedia/vi/1/1b/T%C4%90T_logo.png" alt="Khoa CNTT" class="img-thumbnail">
            <div class="d-flex p-1 text-white">PHÒNG SAU ĐẠI HỌC</div>
        </div>
        <div class ="col-4 col-sm-3 col-md-3 mt-5">
            <img  src="https://upload.wikimedia.org/wikipedia/vi/1/1b/T%C4%90T_logo.png" alt="Khoa CNTT" class="img-thumbnail">
            <div class="d-flex p-1 text-white">PHÒNG ĐIỆN TOÁN VÀ MÁY TÍNH</div>
        </div>
        <div class ="col-4 col-sm-3 col-md-3 mt-5 ">
            <img  src="https://upload.wikimedia.org/wikipedia/vi/1/1b/T%C4%90T_logo.png" alt="Khoa CNTT" class="img-thumbnail">
            <div class="d-flex p-1 text-white">PHÒNG KHẢO THÍ VÀ KĐCL</div>
        </div>
        <div class ="col-4 col-sm-3 col-md-3 mt-5 ">
            <img  src="https://upload.wikimedia.org/wikipedia/vi/1/1b/T%C4%90T_logo.png" alt="Khoa CNTT" class="img-thumbnail">
            <div class="d-flex p-1 text-white">PHÒNG TÀI CHÍNH</div>
        </div>
        <div class ="col-4 col-sm-3 col-md-3 mt-5 ">
            <img  src="https://upload.wikimedia.org/wikipedia/vi/1/1b/T%C4%90T_logo.png" alt="Khoa CNTT" class="img-thumbnail">
            <div class="d-flex p-1 text-white">TO CREATIVE LANGUEGE CENTER</div>
        </div>
                <div class ="col-4 col-sm-3 col-md-3 mt-5 ">
            <img  src="https://upload.wikimedia.org/wikipedia/vi/1/1b/T%C4%90T_logo.png" alt="Khoa CNTT" class="img-thumbnail">
            <div class="d-flex p-1 text-white">CÔNG TY TĐT</div>
        </div>
                <div class ="col-4 col-sm-3 col-md-3 mt-5 ">
            <img  src="https://upload.wikimedia.org/wikipedia/vi/1/1b/T%C4%90T_logo.png" alt="Khoa CNTT" class="img-thumbnail">
            <div class="d-flex p-1 text-white">TRUNG TÂM TIN HỌC</div>
        </div>
                <div class ="col-4 col-sm-3 col-md-3 mt-5 ">
            <img  src="https://upload.wikimedia.org/wikipedia/vi/1/1b/T%C4%90T_logo.png" alt="Khoa CNTT" class="img-thumbnail">
            <div class="d-flex p-1 text-white">TRUNG TÂM ĐÀO TẠO PHÁT TRIỂN XÃ HỘI</div>
        </div>
                <div class ="col-4 col-sm-3 col-md-3 mt-5 ">
            <img  src="https://upload.wikimedia.org/wikipedia/vi/1/1b/T%C4%90T_logo.png" alt="Khoa CNTT" class="img-thumbnail">
            <div class="d-flex p-1 text-white">KHOA LUẬT</div>
        </div>
                <div class ="col-4 col-sm-3 col-md-3 mt-5 mt-5 ">
            <img  src="https://upload.wikimedia.org/wikipedia/vi/1/1b/T%C4%90T_logo.png" alt="Khoa CNTT" class="img-thumbnail">
            <div class="d-flex p-1 text-white">KHOA MỸ THUẬT CÔNG NGHIỆP</div>
        </div>
                <div class ="col-4 col-sm-3 col-md-3 mt-5 ">
            <img  src="https://upload.wikimedia.org/wikipedia/vi/1/1b/T%C4%90T_logo.png" alt="Khoa CNTT" class="img-thumbnail">
            <div class="d-flex p-1 text-white">KHOA ĐIỆN-ĐIỆN TỬ</div>
        </div>
                <div class ="col-4 col-sm-3 col-md-3 mt-5 ">
            <img  src="https://upload.wikimedia.org/wikipedia/vi/1/1b/T%C4%90T_logo.png" alt="Khoa CNTT" class="img-thumbnail">
            <div class="d-flex p-1 text-white">KHOA CÔNG NGHỆ THÔNG TIN</div>
        </div>
                <div class ="col-4 col-sm-3 col-md-3 mt-5 ">
            <img  src="https://upload.wikimedia.org/wikipedia/vi/1/1b/T%C4%90T_logo.png" alt="Khoa CNTT" class="img-thumbnail">
            <div class="d-flex p-1 text-white">KHOA QUẢN TRỊ KINH DOANH</div>
        </div>
                <div class ="col-4 col-sm-3 col-md-3 mt-5 ">
            <img  src="https://upload.wikimedia.org/wikipedia/vi/1/1b/T%C4%90T_logo.png" alt="Khoa CNTT" class="img-thumbnail">
            <div class="d-flex p-1 text-white">KHOA LAO ĐỘNG CÔNG ĐOÀN</div>
        </div>
                <div class ="col-4 col-sm-3 col-md-3 mt-5 ">
            <img  src="https://upload.wikimedia.org/wikipedia/vi/1/1b/T%C4%90T_logo.png" alt="Khoa CNTT" class="img-thumbnail">
            <div class="d-flex p-1 text-white">kHOA TÀI CHÍNH NGÂN HÀNG</div>
        </div>
                <div class ="col-4 col-sm-3 col-md-3 mt-5 ">
            <img  src="https://upload.wikimedia.org/wikipedia/vi/1/1b/T%C4%90T_logo.png" alt="Khoa CNTT" class="img-thumbnail">
            <div class="d-flex p-1 text-white">KHOA GIÁO DỤC QUỐC TẾ</div>
        </div>
                <div class ="col-4 col-sm-3 col-md-3 mt-5 ">
            <img  src="https://upload.wikimedia.org/wikipedia/vi/1/1b/T%C4%90T_logo.png" alt="Khoa CNTT" class="img-thumbnail">
            <div class="d-flex p-1 text-white">VIỆN CHÍNH SÁCH KINH TẾ VÀ KINH DOANH</div>
        </div>
                <div class ="col-4 col-sm-3 col-md-3 mt-5 ">
            <img  src="https://upload.wikimedia.org/wikipedia/vi/1/1b/T%C4%90T_logo.png" alt="Khoa CNTT" class="img-thumbnail">
            <div class="d-flex p-1 text-white">TT NGOẠI NGỮ TIN HỌC</div>
        </div>
        </div>
    </div>
</div>