
<div class="container col-12 p-1 pt-2 mt-6 bg-dark text-white">
    <h3 class="ml-2">ĐĂNG THÔNG BÁO</h3>
</div>
<div class="container col-12 p-1 pl-1 mt-6 justify-content-center">
    <div class="row col-12 d-flex align-items-center justify-content-center">
        <div class="col-3">
            <div class="input-group mb-3 input-group-sm">
                <select class="custom-select" id="inputGroupSelect02">
                    <option selected>Chủ đề</option>
                    <option value="1">Bảo hiểm y tế</option>
                    <option value="2">Cơ sở tin học (MOS)</option>
                    <option value="3">Chính sách học bổng</option>
                    <option value="4">Đăng ký môn học</option>
                    <option value="5">Học phí</option>
                    <option value="6">Học vụ</option>
                    <option value="7">Hướng dẫn</option>
                    <option value="8">Kế hoạch</option>
                    <option value="9">Lịch thi - danh sách thi</option>
                    <option value="10">Phúc khảo</option>
                    <option value="11">Qui định-qui chế</option>
                    <option value="12">Sinh hoạt chủ nhiệm</option>
                    <option value="13">Sự kiện</option>
                    <option value="14">Sự kiện sắp diễn ra</option>
                    <option value="15">Tập sự nghề nghiệp</option>
                    <option value="16">Tin tức cũ</option>
                    <option value="17">Thông báo chiêu sinh</option>
                    <option value="18">Tuyển dụng</option>
                    <option value="19">Thông báo khác</option>
                    <option value="20">Tất cả</option>
                </select>
            </div>

        </div>
        <div class="col-8">
            <form>
                <div class="form-group">
                    <input type="title" class="form-control"
                        id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Enter Title">
                </div>
            </form>
        </div>
    </div>
    <div class="row col-12 d-flex align-items-center justify-content-center">
        <div class="form-group col-11">
            <label for="exampleFormControlTextarea1">Nội dung thông báo</label>
            <textarea class="form-control" id="exampleFormControlTextarea1"
                rows="5"></textarea>
        </div>
    </div>
    <div class="row col-12 d-flex align-items-center justify-content-center">
        <div class="custom-file col-11 mr-0 ml-0">
            <input type="file" class="custom-file-input " id="customFile">
            <label class="custom-file-label " for="customFile">File đính kèm</label>
        </div>
    </div>
    <div class="row col-12 d-flex align-items-center justify-content-center m-2">
        <div class="form-group">
            <button type="Post_noti_button" class="btn btn-primary">Post</button>
        </div>
    </div>
</div>
