/* Login */
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

/* Timeline */

.ellipsis {
    color: #a09c9c
}

hr {
    color: #a09c9c;
    margin-top: 4px;
    margin-bottom: 8px
}

.muted-color {
    color: #a09c9c;
    font-size: 13px
}

.ellipsis i {
    margin-top: 3px;
    cursor: pointer
}

.icons i {
    font-size: 25px
}

.icons .fa-thumbs-up {
    color: blue
}

.rounded-image {
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px
}

.name {
    font-weight: 600
}

.comment-text {
    font-size: 14px
}

.comment-func small {
    margin-right: 10px;
    color: blue
}

.form-control {
    border-radius: 26px
}

.comment-input {
    position: relative
}

.fonts {
    position: absolute;
    right: 13px;
    top: 8px;
    color: #a09c9c
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #8bbafe;
    outline: 0;
    box-shadow: none
}

.create-post {
  resize: none;
}

.picture {
  color: rgb(38, 196, 38);
  padding-left: 15px;
  padding-right: 15px;
}

.youtube {
  color: red;
  padding-left: 15px;
  padding-right: 15px;
}

/* Notification List */
ul.list-style-none li {
  list-style: none
}

ul.list-style-none li a {
  color: #673AB7;
  padding: 8px 0px;
  display: block;
  text-decoration: none
}

.noti-card {
  width: 80%;
  border: 1px solid #dee2e6;
}

.noti-card .card-title {
  position: relative;
  font-weight: 600;
  margin-bottom: 10px
}

.m-r-10 {
  margin-right: 10%;
}

/* noti-page */
.post-content {
  font-weight: 500;
}

.post-meta {
  padding-top: 15px;
  margin-bottom: 20px;
}

.post-meta li a {
  color: #999;
  font-size: 13px;
}

.post-meta li i {
  margin-right: 5px;
}

.post-meta li:after {
  margin-top: -5px;
  content: "/";
  margin-left: 10px;
}

.post-meta li:last-child:after {
  display: none;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mt40 {
  margin-top: 40px !important;
}